<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
    	<ion-back-button defaultHref="/home"></ion-back-button>
   	</ion-buttons>
    <ion-title>Frequency Count</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<table>
	  <tr>
	    <th>Word</th>
	    <th>Frequency of Occurence</th>
	  </tr>

	  <tr *ngFor="let items of sortable">
	    <td>{{items[0]}}</td>
	    <td>{{items[1]}}</td>
	  </tr>
	</table>
</ion-content>
