<ion-header>
  <ion-toolbar>
    <ion-title>
   		Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<h2>Enter the number of words</h2>
        <ion-item>
		    <ion-input type="number" [(ngModel)]="limit" name="limit"></ion-input>
  		</ion-item>
    <ion-button (click)="validateInputNumber(limit)" block>Submit</ion-button>
</ion-content>
